*/__pycache__
log.txt
.ropeproject
__pycache__/
.ipengine_logs/
runinfo/
test/logs/
ipengine.json
data/example
www/
htmlcov/
txpipe.sublime*
env/
*.ipynb_checkpoints*
.coverage
data/*.png
data/*.sacc
data/2.2i-t3828/
data/2.2i/
data/cosmodc2/



