ceci>=1.3
h5py
pandas
sacc
pyccl
numpy
matplotlib
fitsio
git+git://github.com/LSSTDESC/gcr-catalogs#egg=GCRCatalogs
scipy
mlz_desc
treecorr>=4.2.2
sklearn
astropy
healpy
camb
threadpoolctl
#pymaster
cosmosis-standalone
git+https://github.com/LSSTDESC/firecrown@v0.4
psutil
parallel_statistics
healsparse
flexcode
xgboost==1.1.0
