ceci>=1.6
h5py
pandas
sacc
pyccl
numpy
matplotlib
fitsio
git+https://github.com/LSSTDESC/gcr-catalogs#egg=GCRCatalogs
scipy
mlz_desc
treecorr>=4.2.2
sklearn
astropy
healpy
camb
threadpoolctl
pymaster
cosmosis-standalone
git+https://github.com/LSSTDESC/firecrown@v0.4
psutil
parallel_statistics
healsparse
flexcode
xgboost==1.1.0
dask[distributed]
git+https://github.com/joezuntz/dask-mpi
pz-rail-hub
