TXGCRTwoCatalogInput:
    metacal_dir: /global/cscratch1/sd/desc/DC2/data/Run2.2i/dpdd/Run2.2i-t3828/metacal_table_summary
    photo_dir: /global/cscratch1/sd/desc/DC2/data/Run2.2i/dpdd/Run2.2i-t3828/object_table_summary

TXMetacalGCRInput:
    cat_name: dc2_object_run2.1i_dr1b_with_metacal_griz

TXExposureInfo:
    dc2_name: '1.2p'

TXGaussianSimsMock:
    cat_name: '/global/cfs/cdirs/lsst/groups/WL/users/jprat/gaussian_sims_srdnzs_fullsky/051422/12300area/shearcat_allbins_ra_dec_g1_g2_and_fakecols_areacut.npy'
    visits_per_band: 16
    extra_cols: redshift_true size_true shear_1 shear_2 
    flip_g2: False # opposite of cosmodc2
    snr_limit: 0.0 # we want to keep all galaxies
    unit_response: True
    apply_mag_cut: False

TXMainMaps:
    chunk_rows:  100000
    pixelization: healpix
    nside: 2048
    sparse: True

TXSourceMaps:
    nside: 2048
    sparse: True
    chunk_rows:  100000
    pixelization: healpix
    true_shear: False

TXExternalLensMaps:
    nside: 2048
    sparse: True
    chunk_rows:  100000
    pixelization: healpix

TXExternalLensNoiseMaps:
    nside: 2048
    chunk_rows:  100000
    pixelization: healpix

TXAuxiliarySourceMaps:
    chunk_rows:  100000
    sparse:  True
    psf_prefix:  psf_

TXAuxiliaryLensMaps:
    chunk_rows:  100000
    sparse:  True
    bright_obj_threshold:  22.0
    snr_threshold: 10.0
    snr_delta: 10.0
    
TXSimpleMask:
    depth_cut: 23.0
    bright_object_max: 10.0        


TXMapPlots:
    projection: "moll"

TXConvergenceMapPlots:
    projection: "moll"

TXSourceSelectorMetadetect:
    input_pz: False
    bands: riz #used for selection
    T_cut: 0.
    s2n_cut: 0.0
    max_rows: 1000
    delta_gamma: 0.02
    source_zbin_edges: [0.19285902, 0.40831394, 0.65503818, 0.94499109, 1.2947086, 1.72779632] # 5 bins
    # these are not the actual bin-edges of the SRD nzs, but it doesnt matter because the input catalogs are assigned using this fake input.
    chunk_rows: 100000
    true_z: True
    shear_prefix: ''

TXRandomCat:
    chunk_rows: 10000000 
    density: 3 # gals per sq arcmin

TXJackknifeCenters:
    npatch: 500

TXSourceDiagnosticPlots:
    shear_prefix: mcal_

TXFourierGaussianCovariance:
    galaxy_bias: [1., 1., 1., 1., 1.]
    cache_dir: ./cache_nmt/nside2048/
    gaussian_sims_factor: [4.5, 4., 3.5, 3., 3.]
    
TXFourierTJPCovariance:
    galaxy_bias: [1., 1., 1., 1., 1.]
    cache_dir: ./cache_nmt/nside2048/
    IA: 0.

TXRealGaussianCovariance:
    min_sep: 2.5
    max_sep: 250.
    nbins: 20
    use_true_shear: False
    nprocess: 4
    threads_per_process: 2
    nodes: 4
    galaxy_bias: [1., 1., 1., 1., 1.]
    #gaussian_sims_factor: [4.5, 4., 3.5, 3., 3.]

TXTwoPointFourier:
    chunk_rows: 100000
    flip_g1: False
    flip_g2: False
    apodization_size: 0.0
    cache_dir: ./cache_nmt/nside2048/
    true_shear: False
    n_ell: 30
    ell_max: 6144 # nside * 3 , since Namaster computes that anyway. 
    nside: 2048
    analytic_noise: True
    gaussian_sims_factor: [4.5, 4., 3.5, 3., 3.]

TXTwoPoint:
    bin_slop: 0.01
    delta_gamma: 0.02
    do_pos_pos: True
    do_shear_shear: True
    do_shear_pos: True
    flip_g1: True  
    flip_g2: False
    min_sep: 2.5
    max_sep: 250
    nbins: 20
    verbose: 0
    var_method: jackknife
    low_mem: False
    chunk_rows: 1000000
    
TXClusteringNoiseMaps:
    n_realization: 30

TXLensingNoiseMaps:
    n_realization: 30

TXSourceNoiseMaps:
    chunk_rows: 100000
    lensing_realizations: 30

