TXMetacalGCRInput:
    cat_name: dc2_object_run2.1i_dr1b_with_metacal_griz

TXExposureInfo:
    dc2_name: '1.2p'


TXProtoDC2Mock:
    cat_name: cosmoDC2_v1.1.4_image
    extra_cols: redshift_true size_true shear_1 shear_2


PZPDFMLZ:
    nz: 301
    zmax: 3.0
    chunk_rows: 100000

TXPhotozStack:
    chunk_rows: 100000

TXSelector:
    bands: riz #used for selection
    T_cut: 0.5
    s2n_cut: 10.0
    max_rows: 1000
    delta_gamma: 0.02
    zbin_edges: [0.3, 0.5, 0.7, 0.9, 2.0]
    chunk_rows: 100000
    # Mag cuts
    cperp_cut: 0.2
    r_cpar_cut: 13.5
    r_lo_cut: 16.0
    r_hi_cut: 19.6
    i_lo_cut: 17.5
    i_hi_cut: 19.9
    r_i_cut: 2.0
    # may also need one for r_cpar_cut

TXRandomCat:
    chunk_rows: 100000
    density: 10 # gals per sq arcmin

TXTwoPoint:
    binslop: 0.1
    delta_gamma: 0.02
    do_pos_pos: True
    do_shear_shear: True
    do_shear_pos: True
    flip_g2: True  # use true when using metacal shears
    verbose: 0

TXBlinding:
    blind_seed: 1972  ## seed uniquely specifies the shift in parameters
    blind_Omega_b: [0.0485, 0.001] ## fiducial_model_value, shift_sigma
    blind_Omega_c: [0.2545, 0.01]
    blind_w0: [-1.0, 0.1]
    blind_h: [0.682, 0.02]
    blind_sigma8: [0.801, 0.01]
    blind_n_s: [0.971, 0.03]
    blind_b0: 0.95  ## we use bias of the form b0/g
    delete_unblinded: True


TXDiagnosticMaps:
    chunk_rows: 100000  # Number of rows to process at once
    sparse: True  # Generate sparse maps - faster if using small areas
    snr_threshold: 10.0
    snr_delta: 1.0
    pixelization: healpix
    nside: 1024
    # pixelization: gnomonic
    # # 
    pixel_size: 0.2
    ra_cent: 62.
    dec_cent: -35.
    npix_x: 60
    npix_y: 60


TXTwoPointFourier:
    chunk_rows: 100000
    flip_g2: False